body{
background-color: #edf0f5;
}
.section{
  background-color:#3B5998 ;
  height: 90px;
  border-bottom: 1px solid #133783;
}
.col-lg-5{
  color: #ffffff;
}
.button {
  background-color: #4267B2; 
  border: 0.02px solid #29487D;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  width: 13%;
}
.btn btn-success{
  width: 100%;
  font-weight: bolder;
  font-size: larger;
}
.footerlink{
  color: #3877ca;
}
#more_langauges{
  border: 1px solid grey;
  font-weight: bold;
  font-size: large;
}
.col-md-12{
  font-size: small;
}